<div *ngIf="evento" class="event-container">
  <div class="event-banner">
    <ng-container *ngIf="possuiMultiplasImagens; else singleImage">
      <div class="carousel">
        <button class="nav left" (click)="imagemAnterior()">❮</button>

        <img
          [src]="'data:image/jpeg;base64,' + evento.imagens[imagemAtual]"
          alt="Imagem do evento"
          class="banner-image"
          (click)="abrirModalImagemDoEvento()"
        />

        <button class="nav right" (click)="proximaImagem()">❯</button>

        <div class="like-dislike-container">
          <button
            (click)="alternarLike()"
            [class.liked]="usuarioInteragiu === 1"
          >
            <mat-icon>{{
              usuarioInteragiu === 1 ? "thumb_up" : "thumb_up_off_alt"
            }}</mat-icon>
            {{ contagemLikes }}
          </button>

          <button
            (click)="alternarDislike()"
            [class.disliked]="usuarioInteragiu === 2"
          >
            <mat-icon>{{
              usuarioInteragiu === 2 ? "thumb_down" : "thumb_down_off_alt"
            }}</mat-icon>
            {{ contagemDislikes }}
          </button>
        </div>
      </div>
      <div class="dots">
        <span
          *ngFor="let img of evento.imagens; let i = index"
          [class.active]="i === imagemAtual"
          (click)="irParaImagem(i)"
        ></span>
      </div>
    </ng-container>

    <ng-template #singleImage>
      <div class="carousel">
        <img
          [src]="'data:image/jpeg;base64,' + evento.imagens[0]"
          alt="Imagem do evento"
          class="banner-image"
          (click)="abrirModalImagemDoEvento()"
        />

        <div class="like-dislike-container">
          <button
            (click)="alternarLike()"
            [class.liked]="usuarioInteragiu === 1"
          >
            <mat-icon>{{
              usuarioInteragiu === 1 ? "thumb_up" : "thumb_up_off_alt"
            }}</mat-icon>
            {{ contagemLikes }}
          </button>

          <button
            (click)="alternarDislike()"
            [class.disliked]="usuarioInteragiu === 2"
          >
            <mat-icon>{{
              usuarioInteragiu === 2 ? "thumb_down" : "thumb_down_off_alt"
            }}</mat-icon>
            {{ contagemDislikes }}
          </button>
        </div>
      </div>
    </ng-template>

    <div
      *ngIf="modalImagemEventoAberto"
      class="modal"
      (click)="fecharModalImagemDoEvento()"
    >
      <div class="modal-content" (click)="$event.stopPropagation()">
        <img
          [src]="'data:image/jpeg;base64,' + evento.imagens[imagemAtual]"
          alt="Imagem ampliada do evento"
          class="event-logo-modal"
        />
        <button class="close-btn" (click)="fecharModalImagemDoEvento()">
          ×
        </button>
      </div>
    </div>
  </div>

  <div class="event-card">
    <h2 class="event-title">{{ evento.titulo }}</h2>

    <p class="event-description">
      <strong>Descrição:</strong>
      {{ evento.descricao || "Sem descrição disponível." }}
    </p>

    <div class="event-info-grid">
      <p><strong>Data:</strong> {{ evento.data | date : "dd/MM/yyyy" }}</p>
      <p><strong>Horário:</strong> {{ evento.horario }}</p>
      <p>
        <strong>Faixa Etária:</strong>
        {{ evento.faixaEtaria }}
      </p>
      <p>
        <strong>Categoria:</strong>
        {{ evento.categoriaNome || "Não informada" }}
      </p>
      <p>
        <strong>Endereço:</strong>
        <ng-container
          *ngIf="
            evento.logradouro || evento.numero || evento.bairro || evento.cep;
            else noAddress
          "
        >
          {{ evento.logradouro }}, {{ evento.numero }} – {{ evento.bairro }} –
          CEP:
          {{ evento.cep }}
        </ng-container>
        <ng-template #noAddress>Não informado</ng-template>
      </p>
    </div>
  </div>

  <div class="user-info-footer">
    <img
      [src]="
        urlImagemUsuario ? urlImagemUsuario : './assets/pngPadrao-NaoLogado.png'
      "
      alt="Foto de {{ usuario?.nome }}"
      class="user-profile-img"
      (click)="abrirModalUsuario()"
    />
    <h3>
      <a [routerLink]="['/perfil', usuario?.id]">{{ usuario?.nome }}</a>
      <img
        *ngIf="isCriadorParceiro"
        src="verificadoParceiro.png"
        alt="Parceiro Verificado"
        class="partner-icon-details"
        title="Parceiro Verificado"
      />
    </h3>
  </div>
  <button
    *ngIf="podeApagarEvento()"
    (click)="abrirModalConfirmacao()"
    aria-label="Apagar Evento"
    class="btn-delete-icon"
  >
    <mat-icon>delete</mat-icon>
  </button>

  <mat-spinner *ngIf="carregando" class="spinner-overlay"></mat-spinner>

  <div *ngIf="modalUsuarioAberto" class="modal" (click)="fecharModalUsuario()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <img
        [src]="
          urlImagemUsuario
            ? urlImagemUsuario
            : './../../../../../../pngPadrao-NaoLogado.png'
        "
        alt="Imagem do usuário"
        class="event-logo-modal"
      />
      <button class="close-btn" (click)="fecharModalUsuario()">×</button>
    </div>
  </div>

  <div
    *ngIf="modalConfirmacaoAberto"
    class="modalApagar confirmation-modal"
    (click)="fecharModalConfirmacao()"
  >
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h3>Tem certeza que deseja apagar este evento?</h3>
      <div class="modal-buttons">
        <button mat-button color="warn" (click)="confirmarRemoverEvento()">
          Sim, apagar
        </button>
        <button mat-button (click)="fecharModalConfirmacao()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
