.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  zoom: 80%;
}

.logo-site {
  width: 192px;
  height: 199px;
  border-radius: 50px;
}

.full-width {
  width: 100%;
}

/* Card de login */
.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

/* Lado esquerdo (formulário) */
.left-panel {
  width: 60%;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Lado direito (logo) */
.right-panel {
  width: 40%;
  background: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
}

/* Título */
h2 {
  color: #2196f3;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 600;
}

/* Campos de entrada */
.input-group {
  margin-bottom: 15px;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.input-group input::placeholder {
  color: #999;
  padding-left: 0;
}

/* Botão */
button {
  width: 70%;
  padding: 10px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 22px;
  font-size: 22px;
  cursor: pointer;
  margin-top: 0px;
}

/* Link */
p {
  margin-top: 10px;
}

a {
  color: #2196f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilo do botão de alternar a visibilidade da senha */
.password-group {
  position: relative;
  display: flex;
  align-items: center;
}

.password-group input {
  width: 100%;
  padding-left: 45px;
  padding-right: 45px;
}

.password-group .toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  top: 27%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-group .toggle-password img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.password-group .input-icon {
  left: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .card {
    flex-direction: column-reverse;
    width: 100%;
    max-width: 100%;
  }

  .left-panel,
  .right-panel {
    width: 100%;
    padding: 30px;
  }

  .right-panel {
    background: #2196f3;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}
