<div class="alterar-senha-container">
  <h2>Alterar Senha</h2>
  <form [formGroup]="alterarSenhaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="senhaAtual">Senha Atual</label>
      <div class="password-input-wrapper">
        <input
          type="password"
          id="senhaAtual"
          formControlName="senhaAtual"
          class="form-control"
          [type]="mostrarSenhaAtual ? 'text' : 'password'"
        />
        <button
          type="button"
          class="toggle-password-btn"
          (click)="toggleSenha('senhaAtual')"
          aria-label="Toggle visibility of password"
        >
          <mat-icon>{{
            mostrarSenhaAtual ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </div>
      <div
        class="error"
        *ngIf="
          alterarSenhaForm.get('senhaAtual')?.hasError('required') &&
          alterarSenhaForm.get('senhaAtual')?.touched
        "
      >
        A senha atual é obrigatória.
      </div>
      <div
        class="error"
        *ngIf="alterarSenhaForm.get('senhaAtual')?.hasError('apiError')"
      >
        {{ alterarSenhaForm.get("senhaAtual")?.getError("apiError") }}
      </div>
    </div>

    <div class="form-group">
      <label for="novaSenha">Nova Senha</label>
      <div class="password-input-wrapper">
        <input
          type="password"
          id="novaSenha"
          formControlName="novaSenha"
          class="form-control"
          [type]="mostrarNovaSenha ? 'text' : 'password'"
        />
        <button
          type="button"
          class="toggle-password-btn"
          (click)="toggleSenha('novaSenha')"
          aria-label="Toggle visibility of new password"
        >
          <mat-icon>{{
            mostrarNovaSenha ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </div>
      <div
        class="error"
        *ngIf="
          alterarSenhaForm.get('novaSenha')?.hasError('required') &&
          alterarSenhaForm.get('novaSenha')?.touched
        "
      >
        A nova senha é obrigatória.
      </div>
      <div
        class="error"
        *ngIf="
          alterarSenhaForm.get('novaSenha')?.hasError('minlength') &&
          alterarSenhaForm.get('novaSenha')?.touched
        "
      >
        A nova senha deve ter no mínimo 8 caracteres.
      </div>
      <div
        class="error"
        *ngIf="alterarSenhaForm.get('novaSenha')?.hasError('apiError')"
      >
        {{ alterarSenhaForm.get("novaSenha")?.getError("apiError") }}
      </div>
      <div
        class="error"
        *ngIf="
          alterarSenhaForm.hasError('senhaAtualIgualNova') &&
          alterarSenhaForm.get('novaSenha')?.touched
        "
      >
        A nova senha não pode ser igual à senha atual.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmarNovaSenha">Confirmar Nova Senha</label>
      <div class="password-input-wrapper">
        <input
          type="password"
          id="confirmarNovaSenha"
          formControlName="confirmarNovaSenha"
          class="form-control"
          [type]="mostrarConfirmarNovaSenha ? 'text' : 'password'"
        />
        <button
          type="button"
          class="toggle-password-btn"
          (click)="toggleSenha('confirmarNovaSenha')"
          aria-label="Toggle visibility of confirm new password"
        >
          <mat-icon>{{
            mostrarConfirmarNovaSenha ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </div>
      <div
        class="error"
        *ngIf="
          alterarSenhaForm.get('confirmarNovaSenha')?.hasError('required') &&
          alterarSenhaForm.get('confirmarNovaSenha')?.touched
        "
      >
        A confirmação da nova senha é obrigatória.
      </div>
      <div
        class="error"
        *ngIf="
          alterarSenhaForm.errors?.['senhasNaoConferem'] &&
          alterarSenhaForm.get('confirmarNovaSenha')?.touched
        "
      >
        As senhas não coincidem.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="alterarSenhaForm.invalid"
    >
      Alterar Senha
    </button>
  </form>

  <ng-template #confirmDialog>
    <h2 mat-dialog-title>Confirmar alteração</h2>
    <mat-dialog-content>
      Tem certeza que deseja alterar sua senha?
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button class="btn-cancel" (click)="cancelarAlteracao()">
        Cancelar
      </button>
      <button mat-button class="btn-confirm" (click)="confirmarAlteracao()">
        Confirmar
      </button>
    </mat-dialog-actions>
  </ng-template>
</div>
