<nav class="navbar" [class.hidden]="!isNavbarVisible">
  <div class="navbar">
    <a routerLink="/" class="navbar-img">
      <img
        src="./../../../../../../SVGConnectMatao.svg"
        alt="Logo"
        class="logo"
      />
    </a>

    <!-- Botão Hamburguer ao lado da logo -->
    <button class="menu-toggle" (click)="toggleMenu()">
      <img src="../Menu_hamburguer.png" alt="" />
    </button>
  </div>

  <!-- Links do menu -->
  <ul class="navbar-links" [class.active]="menuOpen">
    <li class="nav-item"><a routerLink="/" class="nav-link">Início</a></li>
    <li class="nav-item">
      <a routerLink="/divulgarEvento" class="nav-link">Divulgar Evento</a>
    </li>
  </ul>

  <div class="itens">
    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login" class="btn-login">Login</a>
      <a routerLink="/cadastre-se" class="btn-cadastro">Cadastre-se</a>
    </ng-container>

    <div class="nav-user" *ngIf="isLoggedIn">
      <div class="user-circle" (click)="toggleDropdown()">
        <img [src]="userImageUrl" alt="Foto do Usuário" *ngIf="userImageUrl" />
      </div>
      <ul class="dropdown-menu" [class.show]="isDropdownVisible">
        <li class="username">{{ userName }}</li>
        <li><a (click)="goToProfile()">Perfil</a></li>
        <li><a (click)="logout()">Sair</a></li>
        <li><a routerLink="alterar-senha">Alterar senha</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Segunda barra de navegação: busca -->
<div class="navBar-2" [class.hidden]="!isNavbarVisible">
  <div class="search">
    <input
      #searchInput
      type="search"
      class="form-control"
      placeholder="Pesquisar eventos"
      aria-label="Pesquisar eventos"
      (focus)="onSearchFocus()"
      (blur)="onSearchBlur()"
      (input)="search(searchInput.value)"
    />

    <img
      src="https://cdn-icons-png.flaticon.com/128/2319/2319177.png"
      alt="Ícone de lupa"
      class="search-icon"
    />

    <div
      *ngIf="isSearchFocused && searchResults.length > 0"
      class="search-results"
    >
      <ul>
        <li
          *ngFor="let event of searchResults"
          class="search-result-item"
          (click)="goToEventDetails(event.id)"
        >
          {{ event.titulo }}
        </li>
      </ul>
    </div>
  </div>
</div>
