html,
body {
  height: 100%;
}
body {
  background-color: #f3f0f0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-error {
  background-color: #f1f1f1 !important;
  color: white !important;
}

.snackbar-warning {
  background-color: #ff9800 !important;
  color: white !important;
}

.snackbar-info {
  background-color: #2196f3 !important;
  color: white !important;
}

.snackbar-success {
  background-color: #4caf50 !important;
  color: white !important;
}
