<h2>Redefinir Senha</h2>

<form [formGroup]="resetarSenhaForm" (ngSubmit)="resetarSenha()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nova Senha</mat-label>
    <input
      matInput
      [type]="mostrarNovaSenha ? 'text' : 'password'"
      formControlName="novaSenha"
    />
    <button mat-icon-button matSuffix (click)="toggleSenha('novaSenha')">
      <mat-icon>{{
        mostrarNovaSenha ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
    <mat-error *ngIf="resetarSenhaForm.get('novaSenha')?.hasError('required')">
      A nova senha é obrigatória.
    </mat-error>
    <mat-error
      *ngIf="
        !resetarSenhaForm.get('novaSenha')?.hasError('required') &&
        resetarSenhaForm.get('novaSenha')?.hasError('minlength')
      "
    >
      A senha deve ter no mínimo 8 caracteres.
    </mat-error>
    <mat-error
      *ngIf="
        !resetarSenhaForm.get('novaSenha')?.hasError('required') &&
        !resetarSenhaForm.get('novaSenha')?.hasError('minlength') &&
        resetarSenhaForm.get('novaSenha')?.hasError('pattern')
      "
    >
      A senha deve conter pelo menos uma letra maiúscula, uma minúscula, um
      número e um caractere especial.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Confirmar Nova Senha</mat-label>
    <input
      matInput
      [type]="mostrarConfirmarNovaSenha ? 'text' : 'password'"
      formControlName="confirmarNovaSenha"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="toggleSenha('confirmarNovaSenha')"
    >
      <mat-icon>{{
        mostrarConfirmarNovaSenha ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
    <mat-error
      *ngIf="resetarSenhaForm.get('confirmarNovaSenha')?.hasError('required')"
    >
      A confirmação da senha é obrigatória.
    </mat-error>
    <mat-error *ngIf="resetarSenhaForm.hasError('passwordMismatch')">
      As senhas não coincidem.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="loading">
    Redefinir Senha
  </button>
</form>
